<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <h1>Create Blogpost</h1>
    <%- include('partials/header.ejs') %>

    <form class="create" method="post" action="/posts">
        <label for="title">Blog Title:</label><br>
        <input name="title" type="text"><br>
        <label for="post">Post Contents:</label>
        <input name="post" type="text">
        <input type="submit" value="Post">
    </form>

    <%- include('partials/footer.ejs') %>
</body>
</html>